{{#power-select-multiple options=options selected=selected onchange=onchange disabled=disabled
    placeholder=placeholder searchEnabled=searchEnabled searchPlaceholder=searchPlaceholder
    loadingMessage=loadingMessage noMatchesMessage=noMatchesMessage searchMessage=searchMessage
    triggerComponent=triggerComponent optionsComponent=optionsComponent matcher=matcher
    searchField=searchField renderInPlace=renderInPlace search=search allowClear=allowClear
    dropdownPosition=dropdownPosition closeOnSelect=closeOnSelect class=concatenatedClasses
    tabindex=tabindex extra=extra as |option term|}}
  {{yield option term}}
{{/power-select-multiple}}
