{{#sortable-group tagName="" direction="x" onChange="reorderSelection" as |group|}}
  {{#each selected as |opt|}}
    {{#sortable-item tagName="span" class="ember-power-select-multiple-option" model=opt group=group}}
      {{#unless disabled}}
        <span aria-label="remove element" class="ember-power-select-multiple-remove-btn" onmousedown={{action "removeOption" opt}}>&times;</span>
      {{/unless}}
      {{#if selectedItemComponent}}
        {{component selectedItemComponent selected=opt searchText=searchText}}
      {{else}}
        {{yield opt searchText}}
      {{/if}}
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
<input type="search" class="ember-power-select-trigger-multiple-input" tabindex="0" autocomplete="off"
  autocorrect="off" autocapitalize="off" spellcheck="false" role="combobox" style={{triggerMultipleInputStyle}}
  placeholder={{maybePlaceholder}} value={{searchText}} disabled={{disabled}}
  oninput={{action "search" value="target.value"}} onkeydown={{action "handleKeydown"}}>
<span class="ember-power-select-status-icon"></span>