<h2 id="title">Welcome to Ember</h2>

{{#power-select-sortable options=options selected=selected onchange=(action "foo") as |opt|}}
  {{opt}}
{{/power-select-sortable}}
<br>
<br>
{{#power-select-multiple options=options selected=selected onchange=(action (mut selected)) as |opt|}}
  {{opt}}
{{/power-select-multiple}}
